@import "base.scss";

header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: #4B4A67;
}

.header-content {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

.title-container {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-size: 1.5em;
    padding: 0 30px;
}
